/* base */
body {
    line-height: 1.5;
    color: lightgray;
    background-color: lightgray;
    margin: 0 auto;


}

header {
    background-color: #4d4b4b
}

main {
margin: 2rem 0px;
background-color: lightgray;
color: lightgray;
width: 90%;
margin: 0 auto;
}




/* modules */

h1 {
    font-size: 2rem;
}

h2 {
    font-family: 'Nixie One', cursive;
}

section {
    margin: 2rem;
    outline: 2px orange solid;
}

article {
    margin: 2rem;
    outline: 2px orange solid;
}


/* layout */





@media only screen and (min-width: 960px) {




}